
<!--<script src="../../lib/angular/js/angular-ui-router.js" type="text/javascript"></script>-->



<div class="container">


</div>

<!--MODAL ADD DATA -->
    <!--<script type="text/ng-template" id="button-add-modal.html">       
        <div class="modal-body" id="modal-body">

        <h5 class="control-label" ><strong>Masukkan judul materi yang akan ditambahkan : </strong></h5>
        <input class="form-control" type="text" id="inputSmall" ng-model="input.judul" placeholder="Judul materi .... ">        
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submitAddData()"><i class="fa fa-plus"></i>&nbsp;Tambah</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Batal</button>
        </div>
    </script>-->